@import "./reset.css";
@import "./open_sans.css";

* { box-sizing: border-box; }

body {
  background-color: #f5f5f5;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  color: #222222;

  padding: 1em;
}

.file-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background-color: white;
  border: 1px solid #e5e5e5;
}

.file-list:empty:after {
  display: block;
  content: 'Empty';

  font-style: italic;
  font-weight: 300;
  text-align: center;

  line-height: 2.5;
}

.file {
  line-height: 2.5;
  padding: 0 0.75em 0 0.75em;
}

.file-name {
  color: inherit;
  text-decoration: none;
}
.file-name:hover, .file-name:visited, .file-name:focus {
  color: inherit;
  text-decoration: underline;
}

.file:hover {
  background-color: #f5f5f5;
}

.file ~ .file {
  border-top: 1px solid #e5e5e5;
}
