@import "./reset.css";
@import "./open_sans.css";

* { box-sizing: border-box; }

body {
  background-color: #f5f5f5;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #222222;

  padding: 1em;
  padding-top: 4em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 1em;

  line-height: 3;
  white-space: nowrap;

  background-color: #222222;
  color: white;
}

.nav-breadcrumb {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.nav-breadcrumb:visited {
  color: white;
}
.nav-breadcrumb:hover {
  text-decoration: underline;
  color: #00aaee;
}

.nav-breadcrumb-separator {
  vertical-align: middle;
  margin: 0 0.3em;
  height: 1.25em;
}

.file-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background-color: white;
  border: 1px solid #e5e5e5;
}

.file-list:empty:after {
  display: block;
  content: 'Empty';

  font-style: italic;
  font-weight: 300;
  text-align: center;

  line-height: 3;
}

.file {
  line-height: 3;
  padding: 0 1em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-icon {
  height: 14px;
  vertical-align: -1px;
  margin-right: 0.65em;
}

.file-thumbnail {
  display: inline-block;

  width: 28px;
  height: 28px;

  vertical-align: middle;
  margin-right: 0.65em;
  margin-left: -0.35em;

  background-size: cover;
  background-position: center;
}

.file-name {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.file-name:hover, .file-name:visited, .file-name:focus {
  color: inherit;
  text-decoration: underline;
}

.file:hover {
  background-color: #f5f5f5;
}

.file ~ .file {
  border-top: 1px solid #e5e5e5;
}
